[Oo]bj/
[Bb]in/
fubu-content/
*.ReSharper
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Tt]eam[Cc]ity.user
*.suo
*.swp
*.cache
~$*
*.stresult
*.
*.pidb
*.userprefs
*.vsp*
*~
*.zip
*.scssc
*.orig
*.vsmdi
